
.glyphicon_workspace {
  color:Brown;
}

.glyphicon_project {
  color:#000090;
}

img.middle_code_editor_tab_icon{
  width:16px;
  padding-right:4px;
  padding-bottom:2px;
}

div.middle_code_editor_sidebar{
  width:360px;
  min-width:180px;
  max-width:720px;
}

div.middle_code_editor_sidebar_mover {
  position:absolute;
  top:0px;
  bottom:0px;
  width:4px;
  right:0px;
}

div.middle_code_editor_sidebar_mover:hover {
  cursor:e-resize;
}

div.middle_code_editor_view{
  position:absolute;
  overflow:hidden;
  padding: 4px 4px 4px 0px;
  right: 0px;
  bottom: 0px;
  left: 360px;
  top: 36px;
}

div.editor_markup_name{
  display:inline-block;
  height:40px;
  padding-top:6px;
  padding-left:8px;
  font-weight: bold;
}
