
div.editor_search{
  overflow:auto;
}

span.editor_search_header{
  background-color:LightSkyBlue;
  border-radius:3px;
  color:black;
  border:0.5px black solid;
  padding:0px 2px;
}

tr.editor_search_header{
  background-color:LightSkyBlue;
  font-family:monospace;
  font-size:12px;
  font-weight:700;
  white-space: nowrap;
}

tr.editor_search_file{
  background-color:PaleGreen;
  font-family:monospace;
  font-size:12px;
  font-weight:700;
  white-space: nowrap;
}

span.editor_search_found{
  background-color:Yellow;
  font-family:monospace;
  font-size:12px;
  font-weight:700;
}

a.editor_search_found{
  color:inherit;
  cursor:pointer;
}