
div.sidebar_light{
  width:360px;
  min-width:180px;
  max-width:720px;
}

div.sidebar_mover_light {
  position:absolute;
  top:0px;
  bottom:0px;
  width:4px;
  right:0px;
}

div.sidebar_mover_light:hover {
  cursor:e-resize;
}
