

div.sidebar_dark{
  width:360px;
  min-width:180px;
  max-width:720px;
  background-color:Black;
}

div.sidebar_mover_dark {
  position:absolute;
  top:0px;
  bottom:0px;
  width:4px;
  right:0px;
  background-color:Black;
}

div.sidebar_mover_dark:hover {
  cursor:e-resize;
}
